@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: white;
}

h1, h2, h3, p {
    font-family: 'Jost', sans-serif;
}

p {
    font-size: 1.5em;
}

h3 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

li:nth-child(2) {
    float:right;
}

h1 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 2em;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.intro {
    padding-top: 20vh;
    padding-right: 35vw;
    padding-left: 5vw;
}

.projects {
    padding-top: 5vh;
    padding-right: 35vw;
    padding-left: 5vw;
    padding-bottom: 20vh;
}

.projrow {
    display: flex;
}

.projcolumn {
    flex: 50%;
    padding: 10px;
}

.wrapper{
    float: left;
	width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;


}

.container > div {
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2em;
}

.container > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Grid */
.container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: auto;
		grid-auto-flow: dense; /* Fill all spaces with fitted images */
}

.horizontal {
	grid-column: span 2;
}

.vertical {
	grid-row: span 2;
}

.big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Media Queries */

@media screen and (min-width: 1024px){

}